<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VocabulApp</title>
	
	<script type="text/javascript" src="./script/VocabulAppAPI.js"></script>
    <script type="text/javascript" src="./script/main.js"></script>

	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="css/library.css">
</head>
<body>

<!--header section-->
<header>
	<a href="./index.html"><img src="images/LogoVS.jpg" class="logo"></a>
	
	<input type="checkbox" id="menu-bar">
	<label for="menu-bar" class="fas fa-bars"></label>	
	
	<nav class="navbar">
		<a class="create" style="color: white" href="./card.html">Create</a>
		<a href="./index.html">Home</a>
		<a style="color: #ffb090" href="./library.html">Library</a>
		<a href="./translate.html">Translate</a>
		<a href="./query.html">Query</a>
	</nav>
</header>

<!--language section-->
	<section class="languages" id="languages">
		<h1 class="heading">Choose a language</h1>
		<div class="box-container">
			<div class="box">
				<img src="images/germany.png" alt="">
				<h3>Deutsch</h3><br>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p><br>
				<a href="#" class="btn">Start learning</a>
			</div>
			
			<div class="box">
				<img src="images/united-kingdom.png" alt="">
				<h3>English</h3><br>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p><br>
				<a href="#" class="btn">Start learning</a>
			</div>
			
			<div class="box">
				<img src="images/turkey.png" alt="">
				<h3>Türkçe</h3><br>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p><br>
				<a href="#" class="btn">Start learning</a>
			</div>
			
			<div class="box">
				<img src="images/spain.png" alt="">
				<h3>Español</h3><br>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p><br>
				<a href="#" class="btn">Start learning</a>
			</div>
		</div>
		<figcaption style="margin-left: 15px"><div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></figcaption>
	</section>
	
</body>
</html>